@charset "UTF-8";
.l-footer:before, .l-footer:after {
  display: table;
  content: "";
}
.l-footer:after {
  clear: both;
}

.l-header, .market-map__also .l-nrw, .market-map-zoom {
  font-size: 0;
}

/* Style reset & normalise
 * ------------------------------------------------ */
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME,
H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE,
A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE,
DEL, DFN, EM, IMG, INS, KBD, Q, S, SAMP,
SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR,
B, U, I, CENTER,
DL, DT, DD, OL, UL, LI,
FIELDSET, FORM, LABEL, LEGEND,
TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD,
ARTICLE, ASIDE, CANVAS, DETAILS, EMBED,
FIGURE, FIGCAPTION, FOOTER, HEADER, HGROUP,
MENU, NAV, OUTPUT, RUBY, SECTION, SUMMARY,
TIME, MARK, AUDIO, VIDEO {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE,
FOOTER, HEADER, HGROUP, MENU, NAV, SECTION, MAIN {
  display: block;
}

EM {
  font-style: normal;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
 * HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
AUDIO,
CANVAS,
VIDEO {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
AUDIO:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
TEMPLATE {
  display: none;
}

/* ==========================================================================
 * Base
 * ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
HTML {
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==========================================================================
 * Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
A {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
A:active,
A:hover,
A:focus {
  outline: 0;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
ABBR[title] {
  border-bottom: 1px dotted;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
DFN {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
HR {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
MARK {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
CODE,
KBD,
PRE,
SAMP {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
PRE {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
Q {
  quotes: "“" "”" "‘" "’";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
SMALL {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
SUB,
SUP {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

SUP {
  top: -0.5em;
}

SUB {
  bottom: -0.25em;
}

/* ==========================================================================
 * Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
IMG {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
SVG:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
BUTTON,
INPUT,
SELECT,
TEXTAREA {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
BUTTON,
INPUT {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
BUTTON,
SELECT {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
INPUT[type="reset"],
INPUT[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
BUTTON[disabled],
HTML INPUT[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
INPUT[type="checkbox"],
INPUT[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
INPUT[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
INPUT[type="search"]::-webkit-search-cancel-button,
INPUT[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
BUTTON::-moz-focus-inner,
INPUT::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
TEXTAREA {
  overflow: auto;
  vertical-align: top;
}

/* ==========================================================================
 * Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
TABLE {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
 * Lists
 * ========================================================================== */
/**
 * Remove bullets from all list-items
 */
LI {
  list-style: none outside;
}

@font-face {
  font-family: 'Tatiana';
  src: url('../fonts/tatiana.woff2?1418677304') format("woff2"), url('../fonts/tatiana.woff?1418727291') format("woff"), url('../fonts/tatiana.ttf?1418727245') format("truetype"), url('../fonts/tatiana.svg?1418727246#TatianaCRegular') format("svg");
}
@font-face {
  font-family: 'MyriadPro Regular';
  src: url('../fonts/myriadpro-regular.woff2?1418677728') format("woff2"), url('../fonts/myriadpro-regular.woff?1418677714') format("woff"), url('../fonts/myriadpro-regular.ttf?1418677714') format("truetype"), url('../fonts/myriadpro-regular.svg?1418677716#myriadpro-regular') format("svg");
}
@font-face {
  font-family: 'MyriadPro Bold';
  src: url('../fonts/myriadpro-bold.woff2?1418677750') format("woff2"), url('../fonts/myriadpro-bold.woff?1418677738') format("woff"), url('../fonts/myriadpro-bold.ttf?1418677738') format("truetype"), url('../fonts/myriadpro-bold.svg?1418677738#myriadpro-bold') format("svg");
}
@font-face {
  font-family: 'MyriadPro Semibold';
  src: url('../fonts/myriadpro-semibold.woff2?1418678012') format("woff2"), url('../fonts/myriadpro-semibold.woff?1418677996') format("woff"), url('../fonts/myriadpro-semibold.ttf?1418677994') format("truetype"), url('../fonts/myriadpro-semibold.svg?1418677996#myriadpro-semibold') format("svg");
}
@font-face {
  font-family: 'MyriadPro Bold Italic';
  src: url('../fonts/myriadpro-boldit.woff2?1418677778') format("woff2"), url('../fonts/myriadpro-boldit.woff?1418677764') format("woff"), url('../fonts/myriadpro-boldit.ttf?1418677762') format("truetype"), url('../fonts/myriadpro-boldit.svg?1418677764#myriadpro-boldit') format("svg");
}
.start-page .l-header, .market-page .l-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

/* ------ Common ------ */
BODY {
  font: 1.6rem/1 "MyriadPro Regular", Arial, sans-serif;
  color: #2e2e2e;
  background-color: #eff3f6;
  font-smoothing: antialiased;
}

::-moz-selection {
  background-color: #078bcd;
  color: #FFF;
}

::selection {
  background-color: #078bcd;
  color: #FFF;
}

A {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 200ms;
          transition: color 200ms;
}
A[href^=tel] {
  color: inherit;
}

.madein__link {
  position: relative;
  display: inline-block;
  padding-right: 3.1rem;
}
.madein__link:before, .madein__link:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.madein__link:before {
  top: -0.4rem;
  right: 0;
  width: 1.9rem;
  height: 1.9rem;
  background: #078bcd;
  -webkit-transition: background 200ms;
          transition: background 200ms;
}
.madein__link:after {
  top: -0.1rem;
  right: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #fff;
}
.madein__link:hover:before {
  background: #0b619e;
}

.desc-box {
  position: relative;
  top: 0;
  -webkit-transition: top 400ms;
          transition: top 400ms;
}
.desc-box__title {
  font-family: "Tatiana", Arial, sans-serif;
  font-size: 4rem;
  line-height: 1.25;
  margin-bottom: 3.8rem;
  margin-left: 0.2rem;
}
.desc-box__title EM {
  color: #078bcd;
}
.desc-box__body {
  font-family: "MyriadPro Regular", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.875;
}
.desc-box__more {
  margin-top: 3.2rem;
}

.paint-link {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  font-family: "Tatiana", Arial, sans-serif;
}
.paint-link:after {
  opacity: 1;
  -webkit-transition: opacity 200ms;
          transition: opacity 200ms;
}
.paint-link:hover:after {
  opacity: 0;
}
.paint-link._prod {
  display: inline-block;
  padding-bottom: 1.1rem;
}
.paint-link._prod:after {
  bottom: 0;
  left: -0.2rem;
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') 0 0 no-repeat;
  width: 9.3rem;
  height: 0.7rem;
}

.map-marker {
  position: absolute;
  z-index: 2;
}
.map-marker:hover {
  z-index: 3;
}
.map-marker__balloon {
  bottom: 0;
  left: 0;
  width: 25rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(1rem);
      -ms-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: opacity 200ms, visibility 200ms, -webkit-transform 200ms;
          transition: opacity 200ms, visibility 200ms, transform 200ms;
}
.map-marker__image {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
          transition: opacity 200ms;
}
.map-marker._market .map-marker__image {
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -29px -119px no-repeat;
  width: 4rem;
  height: 3.9rem;
}
.map-marker._market .map-marker__image:hover {
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -69px -119px no-repeat;
  width: 4rem;
  height: 3.9rem;
}
.map-marker._market .map-marker__balloon {
  margin: 0 0 1.7rem -1.1rem;
}
.map-marker._active {
  z-index: 5;
}
.map-marker._active .map-marker__image {
  opacity: 0;
}
.map-marker._active .map-marker__balloon {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.map-marker-balloon {
  position: absolute;
  z-index: 2;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 1.1rem 2.5rem 0.7rem 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(57, 64, 80, 0.25);
  box-sizing: border-box;
}
.map-marker-balloon:after {
  top: 100%;
  left: 2.2rem;
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -103px 0 no-repeat;
  width: 1.2rem;
  height: 1.4rem;
}
.map-marker-balloon__close {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.7rem;
  right: 0.7rem;
  background-color: #b8c2c9;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 200ms;
          transition: background 200ms;
}
.map-marker-balloon__close:hover {
  background-color: #078bcd;
}
.map-marker-balloon__close:focus {
  outline: none;
}
.map-marker-balloon__close:before {
  content: "";
  position: absolute;
  top: -0.7rem;
  bottom: -0.7rem;
  right: -0.7rem;
  left: -0.7rem;
}
.map-marker-balloon__close:after {
  top: 0.3rem;
  left: 0.3rem;
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -14px -15px no-repeat;
  width: 0.7rem;
  height: 0.7rem;
}
.map-marker-balloon__title {
  font-family: "MyriadPro Bold", Arial, sans-serif;
  line-height: 2rem;
}
.map-marker-balloon__content {
  line-height: 2rem;
}

HTML {
  font-size: 10px;
}

HTML,
BODY {
  width: 100%;
  height: 100%;
}

BODY {
  min-height: 42em;
}

.l-bg {
  position: fixed !important;
  z-index: 0;
  top: 0;
  right: -2.5rem !important;
  bottom: 0;
  left: -2.5rem !important;
  background: transparent no-repeat center/cover;
}

.l-section {
  position: relative;
  z-index: 1;
  min-height: 100%;
  min-width: 100rem;
  margin: 0 0 -60px;
}

.l-header {
  padding-top: 2.7rem;
}
.l-header .h-logo {
  display: inline-block;
  vertical-align: top;
  font-size: 0rem;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') 0 -158px no-repeat;
  width: 13.6rem;
  height: 12.1rem;
}
.l-header .h-nav {
  display: inline-block;
  vertical-align: top;
  font-size: 0rem;
  margin: 2.7rem 0 0 4.5rem;
  -webkit-transition: margin 400ms;
          transition: margin 400ms;
}
@media screen and (min-width: 87.5em) {
  .l-header .h-nav {
    margin-left: 8.2rem;
  }
}
@media screen and (min-width: 106.25em) {
  .l-header .h-nav {
    margin-left: 11.5rem;
  }
}
.l-header .h-nav__level._sub {
  margin-top: 1.9rem;
}

.h-nav-top__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  font-size: 1.5rem;
  font-family: "MyriadPro Bold Italic", Arial, sans-serif;
  -webkit-transition: margin 400ms;
          transition: margin 400ms;
}
.h-nav-top__item + .h-nav-top__item {
  margin-left: 5.9rem;
}
@media screen and (min-width: 87.5em) {
  .h-nav-top__item + .h-nav-top__item {
    margin-left: 8.3rem;
  }
}
@media screen and (min-width: 106.25em) {
  .h-nav-top__item + .h-nav-top__item {
    margin-left: 12.1rem;
  }
}
.h-nav-top__link:hover {
  color: #8f929c;
}
.h-nav-top__link._active, .h-nav-top__link._active:hover {
  color: #078bcd;
}

.h-nav-sub {
  position: relative;
  border-top: 0.1rem solid #d8dfe5;
  padding-top: 1.5rem;
}
.h-nav-sub:before {
  top: -1.1rem;
  left: 3.5rem;
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -93px 0 no-repeat;
  width: 1rem;
  height: 1.1rem;
}
.h-nav-sub__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  -webkit-transition: margin 400ms;
          transition: margin 400ms;
}
.h-nav-sub__item + .h-nav-sub__item {
  margin-left: 2rem;
}
@media screen and (min-width: 87.5em) {
  .h-nav-sub__item + .h-nav-sub__item {
    margin-left: 3.8rem;
  }
}
@media screen and (min-width: 106.25em) {
  .h-nav-sub__item + .h-nav-sub__item {
    margin-left: 6.7rem;
  }
}
.h-nav-sub__link._active {
  color: #078bcd;
}
.h-nav-sub__link:hover {
  color: #8f929c;
}

.l-push {
  height: 60px;
}

.l-nrw {
  width: 86rem;
  margin: 0 auto;
  -webkit-transition: width 400ms;
          transition: width 400ms;
}
@media screen and (min-width: 87.5em) {
  .l-nrw {
    width: 104rem;
  }
}
@media screen and (min-width: 106.25em) {
  .l-nrw {
    width: 130rem;
  }
}

.l-footer {
  position: relative;
  z-index: 1;
  height: 60px;
  background: #FFF;
  box-sizing: border-box;
  padding-top: 2.4rem;
  font-size: 1.4rem;
}
.l-footer .f-copy {
  float: left;
}
.l-footer .f-madein {
  float: right;
}

.start-table__layer {
  position: relative !important;
}
.start-table__image {
  width: 43rem;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 400ms;
          transition: width 400ms;
}

.start-split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 200ms;
          transition: opacity 200ms;
}
.start-split._ready {
  opacity: 1;
}
.no-flexbox .start-split {
  display: table;
  width: 100%;
}
.start-split__col {
  box-sizing: border-box;
  padding-left: 8rem;
  width: 50%;
  -webkit-transition: padding 400ms;
          transition: padding 400ms;
}
.no-flexbox .start-split__col {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (min-width: 87.5em) {
  .start-split__col {
    padding-left: 10rem;
  }
}
@media screen and (min-width: 106.25em) {
  .start-split__col {
    padding-left: 12rem;
  }
}
.start-split__col + .start-split__col {
  padding-left: 0;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.no-flexbox .start-split__col + .start-split__col {
  vertical-align: bottom;
}
@media screen and (min-width: 87.5em) and (min-height: 50em) {
  .start-split .start-table__image {
    width: 54.4rem;
  }
}
@media screen and (min-width: 106.25em) and (min-height: 60em) {
  .start-split .start-table__image {
    width: 65rem;
  }
}
.start-split .desc-box {
  width: 45rem;
}
@media screen and (min-width: 87.5em) and (min-height: 50em) {
  .start-split .desc-box {
    top: -5vh;
  }
}
.start-split .desc-box .desc-box__body {
  width: 35rem;
}
@media screen and (min-width: 106.25em) {
  .start-split .desc-box .desc-box__body {
    width: 40rem;
  }
}

.market-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms, visibility 200ms;
          transition: opacity 200ms, visibility 200ms;
}
.market-map._ready {
  opacity: 1;
  visibility: visible;
}
.no-flexbox .market-map {
  display: table;
  width: 100%;
  height: 100%;
}
.market-map:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  opacity: 0.8;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZTZkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ViZTZkYiIgc3RvcC1vcGFjaXR5PSIwLjk5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iI2ViZTZkYiIgc3RvcC1vcGFjaXR5PSIwLjgzIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2ViZTZkYiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iI2ViZTZkYiIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmU2ZGIiIHN0b3Atb3BhY2l0eT0iMC4wMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, #ebe6db 0%, rgba(235, 230, 219, 0.99) 42%, rgba(235, 230, 219, 0.83) 54%, rgba(235, 230, 219, 0.17) 87%, rgba(235, 230, 219, 0.06) 95%, rgba(235, 230, 219, 0.01) 100%);
  background: linear-gradient(to bottom, #ebe6db 0%, rgba(235, 230, 219, 0.99) 42%, rgba(235, 230, 219, 0.83) 54%, rgba(235, 230, 219, 0.17) 87%, rgba(235, 230, 219, 0.06) 95%, rgba(235, 230, 219, 0.01) 100%);
  pointer-events: none;
}
.market-map__controls {
  position: relative;
  z-index: 10;
}
.market-map__controls .market-map-zoom {
  position: absolute;
  right: 0;
  top: 3rem;
}
.market-map__object {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.no-flexbox .market-map__object {
  display: table-row;
}
.market-map__also {
  background-color: #474f61;
}
.no-flexbox .market-map__also {
  height: 1rem;
  display: table-row;
}
.market-map__also .l-nrw {
  padding: 2rem 0;
  color: #fff;
}
.market-map__also__title {
  font-family: "Tatiana", Arial, sans-serif;
  line-height: 1.36;
  width: 30.4rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5rem;
  -webkit-transition: width 400ms;
          transition: width 400ms;
}
@media screen and (min-width: 87.5em) {
  .market-map__also__title {
    width: 32rem;
  }
}
@media screen and (min-width: 106.25em) {
  .market-map__also__title {
    width: 38rem;
  }
}
.market-map__also__title EM {
  color: #078bcd;
}
.market-map__also__list {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  width: 47rem;
  line-height: 2;
  -webkit-transition: width 400ms;
          transition: width 400ms;
}
@media screen and (min-width: 106.25em) {
  .market-map__also__list {
    width: 60rem;
  }
}

.market-map-zoom {
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -21px -15px no-repeat;
  width: 5.8rem;
  height: 10.4rem;
  text-align: center;
  padding-top: 0.2rem;
  box-sizing: border-box;
}
.market-map-zoom__button {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  width: 5.2rem;
  height: 4.9rem;
  display: inline-block;
  cursor: pointer;
  background: none;
}
.market-map-zoom__button:focus {
  outline: none;
}
.market-map-zoom__button._disabled {
  pointer-events: none;
}
.market-map-zoom__button._in {
  border-radius: 2.6rem 2.6rem 0 0;
}
.market-map-zoom__button._in:after {
  top: 1.8rem;
  left: 1.9rem;
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -115px 0 no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
.market-map-zoom__button._in:hover:after {
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') -14px -119px no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
.market-map-zoom__button._out {
  border-radius: 0 0 2.6rem 2.6rem;
}
.market-map-zoom__button._out:after {
  top: 2.1rem;
  left: 1.9rem;
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') 0 -119px no-repeat;
  width: 1.4rem;
  height: 0.3rem;
}
.market-map-zoom__button._out:hover:after {
  content: "";
  position: absolute;
  background: url('../img/sprite-general-s9fe5ef2fdb.png') 0 -15px no-repeat;
  width: 1.4rem;
  height: 0.3rem;
}

.market-map-ie {
  display: table-cell;
  width: 100%;
  height: 100%;
  background-color: tomato;
}
.market-map-ie__nest {
  width: 100%;
  height: 100%;
  background-color: limegreen;
}
