/* ------ Common ------ */

BODY
    font: 1.6rem/1 $fMR
    color: $cText
    background-color: $cBG
    font-smoothing: antialiased

::selection
    background-color: $cBlueL
    color: #FFF

BUTTON:focus
    outline: none

A
    color: inherit 
    text-decoration: none
    transition: color $tEffect

    &[href^=tel]
        color: inherit

.madein

    &__link
        position: relative
        display: inline-block
        padding-right: 3.1rem

        &:before,
        &:after
            content: ''
            position: absolute
            border-radius: 50%

        &:before
            top: -.4rem
            right: 0
            width: 1.9rem
            height: 1.9rem
            background: $cBlueL
            transition: background $tEffect

        &:after
            top: -.1rem
            right: .3rem
            width: 1.3rem
            height: 1.3rem
            background-color: #fff

        &:hover
            &:before
                background: $cBlueD

.desc-box
    $root: &

    position: relative
    top: 0
    transition: top $tLayout

    &__title
        font-family: $fTT
        font-size: 4rem
        line-height: 1.25
        margin-bottom: 3.8rem
        margin-left: .2rem

        EM
            color: $cBlueL

    &__body
        font-family: $fMR
        font-size: 1.6rem
        line-height: 1.875

        P
            margin-top: 1rem

        > P
            &:first-child
                margin-top: 0

    &__more
        padding-top: 3.2rem

    &._collapsible
        #{$root}__body
            position: relative

            &:after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                right: 0
                background: linear-gradient(to top, rgba(239, 243, 246, 1) 20%, rgba(239, 243, 246, 0) 100%)
                height: 4rem
                pointer-events: none
                transition: opacity $tEffect


        #{$root}__part
            display: none

        &._active
            #{$root}__body
                &:after
                    opacity: 0


.paint-link
    position: relative
    font-size: 2rem
    line-height: 1
    font-family: $fTT

    &:after
        opacity: 1
        transition: opacity $tEffect

    &:hover
        &:after
            opacity: 0

    &._prod
        display: inline-block
        padding-bottom: 1.1rem

        &:after
            bottom: 0
            left: -.2rem
            +ps(plink-prod)

    &._more
        display: inline-block
        padding-bottom: 1rem

        &:after
            bottom: 0
            left: -.2rem
            +ps(plink-more)

.map-marker
    position: absolute
    z-index: 2

    $root: &

    &:hover
        z-index: 3

    &__balloon
        bottom: 0
        left: 0

        width: 25rem
        opacity: 0
        visibility: hidden
        transform: translateY(1rem)
        transition: opacity $tEffect, visibility $tEffect, transform $tEffect

    &__image
        display: inline-block
        cursor: pointer
        transition: opacity $tEffect

    &._market

        #{$root}__image
            +s(market-pin)

            &:hover
                +s(market-pin-hover)

        #{$root}__balloon
            margin: 0 0 1.7rem -1rem

    &._contacts

        #{$root}__balloon
            margin: 0 0 2rem -2.2rem

    &._active
        z-index: 5

        #{$root}__image
            opacity: 0

        #{$root}__balloon
            opacity: 1
            visibility: visible
            transform: translateY(0)

.map-marker-balloon
    position: absolute
    z-index: 2
    font-size: 1.4rem
    background-color: #fff
    padding: 1.1rem 2.5rem 0.7rem 1.2rem
    border-radius: .2rem
    box-shadow: 0 .2rem .5rem rgba(#394050, .25)
    box-sizing: border-box

    &:after
        top: 100%
        left: 1.8rem
        +ps(marker-bubble-tip)

    &__close
        position: absolute
        width: 1.3rem
        height: 1.3rem
        top: .7rem
        right: .7rem
        background-color: #b8c2c9
        border: none
        padding: 0
        margin: 0
        border-radius: 50%
        cursor: pointer
        transition: background $tEffect

        &:hover
            background-color: $cBlueL

        &:before
            content: ''
            position: absolute
            top: -.7rem
            bottom: -.7rem
            right: -.7rem
            left: -.7rem

        &:after
            top: .3rem
            left: .3rem
            +ps(marker-bubble-x)


    &__title
        font-family: $fMB
        line-height: 2rem

    &__content
        font-family: $fMR
        line-height: 2rem

.gm-map-holder
    top: -3rem !important
    bottom: -3rem !important
    height: auto !important
