// Fonts

$fBase: Arial, sans-serif
$fTT: 'Tatiana', $fBase
$fMR: 'MyriadPro Regular', $fBase
$fMB: 'MyriadPro Bold', $fBase
$fMBi: 'MyriadPro Bold Italic', $fBase
$fMBs: 'MyriadPro Semibold', $fBase


// Colors

$cBG: #eff3f6
$cText: #2e2e2e
$cAccent: #2f2f2f
$cBlueL: #078bcd
$cBlueD: #0b619e
$cGrey: #8f929c


// Timings

$tLayout: 400ms
$tEffect: 200ms


// Sizes

$sFooterHeight: 60px


// MQ Points

$mqMiddle: 87.5em
$mqWide: 106.25em

$mqHLow: 42em
$mqHMiddle: 50em
$mqHHigh: 60em

// Extends

%absHeader
    position: absolute
    z-index: 2
    top: 0
    left: 0
    right: 0


