// Product page

.product-page
    .l-header
        position: relative
        z-index: 10

    .l-footer
        position: fixed
        z-index: 11
        bottom: 0
        left: 0
        right: 0

.product
    $root: &
    position: relative
    display: table
    width: 100%

    &__content
        display: table-cell
        padding: 2rem 0 2rem 50%
        height: 100%
        vertical-align: middle

        .desc-box
            width: 35rem
            margin: 0 0 0 8rem
            transition: width $tLayout, margin $tLayout

            +min-screen($mqMiddle)
                margin: 0 0 0 10rem
                width: 38rem

            +min-screen($mqWide)
                margin: 0 0 0 12rem
                width: 41rem

    &__table
        position: fixed
        bottom: -7rem
        margin-left: -0.7rem
        transition: width $tLayout, bottom $tLayout
        width: 44.2rem

        +min-screen-wh($mqMiddle, $mqHMiddle)
            width: 54.4rem
            bottom: -9rem

        +min-screen-wh($mqWide, $mqHHigh)
            width: 67.9rem
            margin-left: -1.4rem
            bottom: -11rem

    &._small
        #{$root}__table
            bottom: 0

    &._nailed
        #{$root}__table
            position: absolute
            transform: translate(0, 6rem)

        &._small
            transform: translate(0, 0)



.product-caro
    $root: &
    position: relative

    &__arrow
        position: absolute
        z-index: 10
        top: 50%
        margin: -2.7rem 0 0
        width: 5.4rem
        height: 5.4rem
        background: #474f61
        border: none
        padding: 0
        border-radius: 50%
        cursor: pointer
        opacity: 0
        visibility: hidden
        transition: background $tEffect, opacity $tEffect $tLayout, visibility $tEffect $tLayout, transform $tEffect $tLayout

        &:hover
            background-color: $cBlueL

        &._prev
            transform: translate(-1rem, 0)
            left: 1.3rem

            &:after
                top: .6rem
                left: .5rem
                +ps(arrow-prev)

        &._next
            transform: translate(1rem, 0)
            right: 1.3rem

            &:after
                top: .6rem
                left: .5rem
                +ps(arrow-next)

    &__list

    &__item
        text-align: center

        > IMG
            width: 100%
            max-width: 41rem
            vertical-align: top

    &._single #{$root}__list,
    &._multiple .bx-wrapper
        width: 27rem
        margin: 0 auto
        position: relative

        +min-screen-wh($mqMiddle, $mqHMiddle)
            width: 33.2rem

        +min-screen-wh($mqWide, $mqHHigh)
            width: 41rem

    &._single


    &._multiple

        #{$root}__arrow
            opacity: 1
            visibility: visible
            transform: translate(0, 0)

    &._ready
        opacity: 1
        visibility: visible
        transform: translate(0, 0)

.product-spec

    &__item
        text-align: justify
        text-justify: newspaper
        width: 100%
        float: left
        margin-right: -100%
        @extend %sr
        opacity: 0
        visibility: hidden
        transition: opacity $tEffect, visibility $tEffect

        &:after
            content: ''
            display: inline-block
            width: 100%

        &._active
            opacity: 1
            visibility: visible

    &__col
        +rs(1.4)
        color: #4a362e
        transition: padding $tLayout

        &:nth-child(2)
            position: relative
            padding: 0 1rem 0 1.6rem


            &:before,
            &:after
                top: 50%
                margin-top: -2.2rem
                +ps(prod-spec-line)

            &:before
                left: 0

            &:after
                right: 0

            +min-screen-wh($mqMiddle, $mqHMiddle)
                padding: 0 2.6rem 0 3rem

            +min-screen-wh($mqWide, $mqHHigh)
                padding: 0 3.3rem 0 3.5rem

    &__dt
        display: block
        font-family: $fMBi

    &__dd
        display: block
        margin-top: .6rem


.product-table

    &__caro
        z-index: 3
        margin: 0 0 -4.1rem
        opacity: 0
        visibility: hidden
        transform: translate(0, -2rem)
        transition: margin $tLayout, transform $tLayout, opacity $tLayout, visibility $tLayout

        +min-screen-wh($mqMiddle, $mqHMiddle)
            margin-bottom: -5.1rem

        +min-screen-wh($mqWide, $mqHHigh)
            margin-bottom: -6.3rem


    &__spec
        position: absolute
        top: 24.7%
        left: 17.8%
        right: 20.1%
        transition: top $tLayout, left $tLayout, right $tLayout,

        +min-screen-wh($mqMiddle, $mqHMiddle)
            top: 26%
            left: 20%
            right: 22%

        +min-screen-wh($mqWide, $mqHHigh)
            top: 27.2%
            left: 22.8%
            right: 25.4%


    &__base
        position: relative
        z-index: 2
        width: 100%

        IMG
            width: 100%
