// Start page


.start-page
    .l-header
        @extend %absHeader

.start-bg
    overflow: hidden

    &__layer
        position: absolute !important
        z-index: 0
        top: 0
        right: -2.5rem !important
        bottom: 0
        left: -2.5rem !important
        background: transparent no-repeat center/cover

.start-table
    transform: translate(0, 6rem) 

    &__layer
        position: relative !important

    &__image
        width: 43rem
        display: inline-block
        vertical-align: top
        transition: width $tLayout

.start-split
    display: flex
    align-items: center
    opacity: 0
    transition: opacity $tEffect

    &._ready
        opacity: 1

    .no-flexbox &
        display: table
        width: 100%

    &__col
        box-sizing: border-box
        padding-left: 8rem
        width: 50%
        transition: padding $tLayout

        .no-flexbox &
            display: table-cell
            vertical-align: middle

        +min-screen($mqMiddle)
            padding-left: 10rem

        +min-screen($mqWide)
            padding-left: 12rem

        & + &
            padding-left: 0
            align-self: flex-end

            .no-flexbox &
                vertical-align: bottom


    .start-table__image
        +min-screen-wh($mqMiddle, $mqHMiddle)
            width: 58.7rem
        +min-screen-wh($mqWide, $mqHHigh)
            width: 73.4rem

    .desc-box
        width: 45rem

        +min-screen-wh($mqMiddle, $mqHMiddle)
            top: -5vh

        .desc-box__body
            width: 35rem

            +min-screen($mqWide)
                width: 40rem
